<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
  <title>Мобильный аккаунт</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
  <div id="mobileAccountInfo">
    <h4 th:if="${mobileAccount.getTelephoneNumber() != null}" th:text="'Мобильный аккаунт номер ' + ${mobileAccount.getTelephoneNumber()}"></h4>

    <a  th:href="'/personalAccount?clientId=' + ${mobileAccount.getClientId().getId()}">
      <span th:text="${mobileAccount.getClientId().getName()}" > </span>
      <span th:if="${mobileAccount.getClientId().getSurname() != null}" th:text="' ' + ${mobileAccount.getClientId().getSurname()}"> </span>
    </a>
    <p th:if="${mobileAccount.getBalance() != null}"  th:text="'Баланс: ' + ${mobileAccount.getBalance()}"></p>
    <h4 th:text="'Транзакции на мобильном счету'"></h4>
  </div>
  <table class="table table-bordered">
    <thead class="table-success">
    <tr>
      <th scope="col"> Id транзакции </th>
      <th scope="col"> Тип операции </th>
      <th scope="col"> Сумма </th>
      <th scope="col"> Дата </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${mobileAccountDAO.getTransactions(mobileAccount.getId()).isEmpty()}">
      <td colspan="6"> В базе пока нет ни одного человека.</td>
    </tr>
    <tr th:each="transaction : ${mobileAccountDAO.getTransactions(mobileAccount.getId())}">
      <td>
        <span th:text="${transaction.getId()}"> </span>
      </td>
      <td>
        <span th:text="${transaction.getTypeOfTransaction()}"> </span>
      </td>
      <td>
        <span th:text="${transaction.getAmount()}"> </span>
      </td>
      <td>
        <span th:text="${transaction.getDateOfTransaction()}"> </span>
      </td>
    </tr>

    </tbody>
  </table>
  <!--edit delete order button group-->

  <!--end of button group-->

</div>



<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>