<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
  <title>Персональный аккаунт клиента</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
  <div id="personAccountsInfo">
    <p th:if="${client.getSurname() != null}" th:text="'Фамилия: ' + ${client.getSurname()}"></p>
    <p th:if="${client.getName() != null}" th:text="'Имя: ' + ${client.getName()}"></p>
    <p th:if="${client.getMiddleName() != null}" th:text="'Отчество: ' + ${client.getMiddleName()}"></p>
    <p th:if="${client.getEmail() != null}" th:text="'Электронный почтовый адрес: ' + ${client.getEmail()}"></p>
    <p> Мобильные аккаунты пользователя:&nbsp <span th:if="${personalAccountsDAO.getMobileAccounts(client.getId()) == null}">нет</span>
      <a th:each="number, iter: ${personalAccountsDAO.getMobileAccounts(client.getId())}" th:href="'/mobileAccount?mobileAccountId=' + ${number.getId()}">
        <span th:text="${number.getTelephoneNumber()} + ${!iter.last ? ',' : ''}"></span>
      </a>
    </p>
  </div>

  <!--edit delete order button group-->

  <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>