<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
  <title>Услуга</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
  <div id="serviceInfo">
    <h4 th:text="${service.getNameService()}"></h4>
    <p th:if="${service.getNameService() != null}" th:text="'Название: ' + ${service.getNameService()}"></p>
    <p th:if="${service.getNumberOfDevices() != null}" th:text="'Количество подключаемых устройств: ' + ${service.getNumberOfDevices()}"></p>
    <p th:if="${service.getMinutes() != null}" th:text="'Минуты: ' + ${service.getMinutes()}"></p>
    <p th:if="${service.getSms() != null}" th:text="'SMS: ' + ${service.getSms()}"></p>
    <p th:if="${service.getInternet() != null}" th:text="'Интернет: ' + ${service.getInternet()} + ' Гб' "></p>
    <p th:if="${service.getTariffFee() != null}" th:text="'Стоимость: ' + ${service.getTariffFee()} + ' рублей/месяц' "></p>
    <p th:if="${service.getMaxCredit() != null}" th:text="'Макисмальный кредит: ' + ${service.getMaxCredit()} + ' рублей' "></p>

  </div>

  <!--edit delete order button group-->

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <form style="margin-right: 30px" method="get" action="/editService">
        <input type="hidden" name="serviceId" th:value="${service.getId()}"/>
        <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию об услуге
        </button>
      </form>
      <form style="margin-right: 30px" method="post" action="/removeService">
        <input type="hidden" name="serviceId" th:value="${service.getId()}"/>
        <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить услугу
        </button>
      </form>
    </div>
  </div>
  <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>